html {
    min-height: 100%;
    position: relative;
}

body {
    min-height: 100%;
    background-color: #343a40;
}

.pt-15 {
    padding-top: 15px;
}

#toastContainer {
    position: fixed;
    top: 70px;
    right: 0px;
}


/* header.html */

#header {
    border-bottom: 1px solid #17a2b8;
}


/* footer.html */

#footerorient {
    bottom: 0px;
    height: 30px;
    overflow: hidden;
    border-top: #17a2b8;
    border-width: 1px;
    border-style: solid;
}

.right {
    text-align: right;
    padding-right: 40px;
}

.greycolor {
    color: rgba(255, 255, 255, .75);
}

.toggle-helper {
    display: none;
}

.live-search-result {
    height: 200px;
    width: 223px;
}

.live-search-items {
    text-overflow: ellipsis;
    overflow: hidden;
}


/* index.html */

.landingImg {
    /* height: 100%;
    width: 100%;
    min-height: 640px; */
    position: relative;
    /* flex-direction: column; */
    /* margin-bottom: 20px; */
    flex: 1;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

#btnBuyNow,
#btnSales {
    position: absolute;
}

#btnBuyNow {
    /* z-index: 10;
    position: absolute;*/
    /* padding: 0 60px;  */
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    font-weight: 800;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
}

#wrapper1 {
    flex-direction: column;
    display: flex;
    height: 90%;
    width: 100%;
    min-height: 640px;
    position: absolute;
}

#wrapper2 {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 60;
    z-index: 3;
    -webkit-box-align: center;
    flex-direction: row;
}

#wrapper3 {
    margin: 0 auto;
    max-width: 640px;
    -webkit-box-direction: normal;
    text-align: center;
}

#btnSales {
    /* z-index: 10;
    position: absolute; */
    /* padding: 0 60px; */
    margin-left: -120px;
    height: 64px;
    line-height: 64px;
    font-size: 24px;
    font-weight: 800;
    padding: 0 20px;
    display: inline-block;
    vertical-align: top;
}

#bigImg {
    width: 100%;
    height: 100%;
    /* min-height: 640px; */
    background-image: url("../img/0TH_2011.jpg");
    z-index: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    text-align: center;
}


/* sales.html */

.carouselImg {
    height: 500px;
}

.w-10 {
    width: 10%;
}

.container {
    border: 1px solid #17a2b8;
    color: white;
}

.container h5 {
    margin-top: 0.7rem;
}

.salesFooter h5 {
    padding-top: 4px;
}


/* products.html */

.row {
    margin-right: 0px !important;
}

#productsContainer .card {
    background-color: #343a40;
    border: 1px solid #17a2b8;
    color: white;
}

#filterContainer {
    background-color: #343a40;
    border: 1px solid #17a2b8;
    color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: none;
}

#tagsContainer a {
    background-color: #343a40;
    border-top: 1px solid #17a2b8;
    border-bottom: 1px solid #17a2b8;
}

#rezContainer a {
    background-color: #343a40;
    border-top: 1px solid #17a2b8;
    border-bottom: 1px solid #17a2b8;
}

.pagination li a {
    background-color: #343a40 !important;
    border: 1px solid #17a2b8 !important;
}

.price-header {
    border-bottom: 1px solid #17a2b8 !important;
}


/* product.html */

.productImg {
    height: 550px;
}

.productImgBig {
    height: 850px;
}

#productContainer {
    height: 100%;
}

.productTag {
    margin-right: 5px;
}

#productContainer .card {
    background-color: #343a40;
    border: none;
}

.modal-dialog {
    max-width: 100%;
    width: auto !important;
    display: inline-block;
}

.modal {
    text-align: center;
}

.modal-body {
    padding: 0px;
}


/* shopping-cart */

#cart {
    background-color: #343a40;
    border: none;
}

#cart-container {
    background-color: #343a40;
    border: none;
}

.card-footer {
    background-color: #343a40;
    border: none;
}

.card-header {
    background-color: #343a40;
    border: none;
}


/* products.html */

.products-preview-img {
    height: 160px;
}

.products-body {
    height: 80px;
}

.margin-bottom {
    margin-bottom: 40px;
}

/* checkout.html */
#nextStepBtn {
    margin-bottom: 15px;
}

/* payment.html */

.container .pm {
    border: 1px solid #17a2b8;
}

.container .pm * {
    background-color: #343a40;
}

/* success.html */

.success-card,
.success-body,
.success-header {
    border: 1px solid #17a2b8;
}